<!-- views/chooseResearchers.html -->
<div class="emuwebapp-modal-wrap" ng-controller="SearchThroughDatabase as vm">
  <div class="emuwebapp-modal-header-large emuwebapp-modal-header">
    <h3 style="margin:0;">Search through the database <i class="material-icons">search</i></h3>
  </div>

  <div class="emuwebapp-modal-body">

    <div class="two-column-wrap">
        
        
        <!--Filter by metadata (left panel)--------------------------------------------------------------------------------------------------------------------------------------->
        <div class="metadata-row">
            <h2>Filter by metadata</h2>

            <div class="filter-field">
                <!--Date: for all file types, even though for pdf its publication year-->
                <label for="Date">Date/Publication Year</label>
                <input type="date" id="Date" ng-model="vm.filters.date" name="Date" placeholder="mm/dd/yy" class="selects-input">
            </div> 
        
            <div class="filter-field">
                <!--Location:for wav,video,image, disabled for pdf -->
                <label for="location">Location</label>
                <input type="text" id="location" name="text" ng-model="vm.filters.location" ng-focus="vm.cursorInTextField()" ng-blur="vm.cursorOutOfTextField()" placeholder="country/region/city" class="selects-input" ng-disabled="vm.filters.fileType==='pdf'">
            </div>

            <div class="filter-field">
                <!--Genre : only for pdf-->
                <label for="genre">Genre</label>
                <select id="genre" ng-model="vm.filters.genre" name="genre" class="selects-input" ng-disabled="vm.filters.fileType!=='pdf'" >
                    <option value="Fiction" >Fiction</option>
                    <option value="news" >News</option>
                    <option value="interview">Interview</option>
                    <option value="medicine">Medicine</option>
                    <option value="law">Law</option>
                    <option value="historic">Historic</option>
                </select>
            </div>    

            <div class="filter-field">
                <!--Corpus type : only for pdf-->
                <label for="corpusType">Corpus Type</label>
                <select id="corpusType" ng-model="vm.filters.corpusType" name="corpusType" class="selects-input" ng-disabled="vm.filters.fileType!=='pdf'" >
                    <option value="Academic">Academic</option>
                    <option value="Conversation">Conversation</option>
                </select>
            </div> 
        
            <div class="filter-field">
                <!--Photographer/Source only for image -->
                <label for="source">Source/Photographer</label>
                <input type="text" id="source" name="source" ng-model="vm.filters.source" ng-focus="vm.cursorInTextField()" ng-blur="vm.cursorOutOfTextField()" placeholder="source or Photographer " class="selects-input" ng-disabled="vm.filters.fileType!=='image'">
            </div>

            <div class="filter-field search-row">
                <button class="search-button" ng-click="vm.search()">Search in metadata<i class="material-icons">search</i></button>
                
                <!--The title of the returned file -->
                <h3 class="results-list" ng-if="vm.resultsMetadata">
                    <ul>
                        <li ng-repeat="item in vm.resultsMetadata">
                            File's title: {{ (item.title || item.doc_title)}}
                        </li>
                    </ul>
                </h3>
            </div>
            

        </div>

        <div class="file-type-panel">
            <div class="filter-field">
                    <!--File Type-->
                    <label for="fileType">File type</label>
                    <select id="fileType" ng-model="vm.filters.fileType" name="fileType" class="selects-input">
                        <option value="">--select--</option>
                        <option value="wav/video">wav/video</option>
                        <option value="image">image</option>
                        <option value="pdf">pdf</option>
                    </select>
            </div>
        </div>


        <!--Filter by annotations(right panel)--------------------------------------------------------------------------------------------------------------------------------------->
        <div class="metadata-row annotation-row" ng-switch="vm.filters.fileType">            
                <h2>Filter by annotations</h2>

            

                <!--For wav/video--------------------------------------------------------------------------------------------->
                <div ng-switch-when="wav/video" class="filter-field">
                    <label for="level">Level/Speaker</label>
                    <input type="text" id="level" ng-model="vm.filters.level" placeholder="segment or event" class="selects-input" ng-focus="vm.cursorInTextField()" ng-blur="vm.cursorOutOfTextField()" />          
                </div>
                <div ng-switch-when="wav/video" class="filter-field">
                    <label for="embodied-actions">Embodied action</label>
                    <select id="embodied-actions" name="embodied-actions" ng-model="vm.filters.embodiedAction" class="selects-input">
                        <option value="">--select--</option>
                        <option value="Nod Up-Down">Nod Up-Down</option>
                        <option value="Shake Side-to-Side">Shake Side-to-Side</option>
                        <option value="Tilt Head Left">Tilt Head Left</option>
                        <option value="Tilt Head Right">Tilt Head Right</option>
                        <option value="Raised Eyebrows">Raised Eyebrows</option>
                        <option value="Frown">Frown</option>
                        <option value="Smile">Smile</option>
                        <option value="Squint Narrowed Eyes">Squint/Narrowed Eyes</option>
                        <option value="Open Palm">Open Palm</option>
                        <option value="Closed Fist">Closed Fist</option>
                        <option value="Pointing">Pointing</option>
                        <option value="Circular Gesture">Circular Gesture</option>
                        <option value="Lean Forward">Lean Forward</option>
                        <option value="Lean Backward">Lean-Backward</option>
                        <option value="Shoulder Shrug">Shoulder Shrug</option>
                        <option value="Torso Twist">Torso Twist</option>
                    </select>                
                </div>
                <div ng-switch-when="wav/video" class="filter-field">
                    <label for="label">Label/Text</label>
                    <input type="text" id="label" ng-model="vm.filters.label" placeholder="label or text" class="selects-input" ng-focus="vm.cursorInTextField()" ng-blur="vm.cursorOutOfTextField()" />        
                </div>


                <div ng-switch-when="wav/video" class="filter-field search-row">
                    <button class="search-button" ng-click="vm.searchAnnotForRecording()">Search in annotations<i class="material-icons">search</i></button>
                
                    <!--The title of the returned file -->
                    <h3 class="results-list" ng-if="vm.resultsAnnotations">
                        <ul>
                            <li ng-repeat="item in vm.resultsAnnotations">
                                {{ item.bundleName }}
                               <button ng-click="vm.saveCroppedSegmentForWavAndVideo(item)"><i class="material-icons" title="download the segment">save</i> </button>   
                            </li>
                        </ul>
                    </h3>
                </div>





                <!--For pdf--------------------------------------------------------------------------------------------->    
                <div ng-switch-when="pdf">
                    
                    <div class="filter-field" >
                        <label for="word">Word</label>
                        <input type="text" id="word" ng-model="vm.filters.word" placeholder="word you want to search" class="selects-input" ng-focus="vm.cursorInTextField()" ng-blur="vm.cursorOutOfTextField()" />        
                    </div>

                    <div class="filter-field pos-field">
                        <label>Part-of-speech:</label>
                        <div class="radio-group">
                            <label><input type="radio" ng-model="vm.filters.pos" value="">no-tag</label>
                            <label><input type="radio" ng-model="vm.filters.pos" value="verb">verb</label>
                            <label><input type="radio" ng-model="vm.filters.pos" value="noun">noun</label>
                            <label><input type="radio" ng-model="vm.filters.pos" value="pronoun">pronoun</label>
                            <label><input type="radio" ng-model="vm.filters.pos" value="adjective">adjective</label>
                        </div>
                    </div>
                    
                    <div class="filter-field pos-field">
                        <label>Named-entity-recognition:</label>
                        <div class="radio-group">
                            <label><input type="radio" ng-model="vm.filters.ner" value="">no-tag</label>
                            <label><input type="radio" ng-model="vm.filters.ner" value="first name">first name</label>
                            <label><input type="radio" ng-model="vm.filters.ner" value="last name">last name</label>
                            <label><input type="radio" ng-model="vm.filters.ner" value="location">location</label>
                            <label><input type="radio" ng-model="vm.filters.ner" value="organization">organization</label>
                            <label><input type="radio" ng-model="vm.filters.ner" value="date">date</label>
                            <label><input type="radio" ng-model="vm.filters.ner" value="time">time</label>
                        </div>
                    </div>

                    <div class="filter-field pos-field">
                        <label>Sentiment-analysis:</label>
                        <div class="radio-group">
                            <label><input type="radio" ng-model="vm.filters.sa" value="">no-tag</label>
                            <label><input type="radio" ng-model="vm.filters.sa" value="positive">positive</label>
                            <label><input type="radio" ng-model="vm.filters.sa" value="negative">negative</label>
                            <label><input type="radio" ng-model="vm.filters.sa" value="neutral">neutral</label>
                        </div>
                    </div>

                    <div class="filter-field pos-field" >
                        <label for="comment">Comment</label>
                        <input type="text" id="comment" ng-model="vm.filters.comment" placeholder="comment you want to search" class="selects-input" ng-focus="vm.cursorInTextField()" ng-blur="vm.cursorOutOfTextField()" />        
                    </div>

                    <div class="filter-field search-row">
                        <button class="search-button" ng-click="vm.searchAnnotForPdf()">Search in annotations<i class="material-icons">search</i></button>
                    
                        <!--The title of the returned file -->
                        <h3 class="results-list" ng-if="vm.resultsAnnotationsPdf">
                            <ul>
                                <li ng-repeat="item in vm.resultsAnnotationsPdf">
                                    {{ item.bundleName }} – “{{ item.word }}” on page {{ item.page }}
                                    <button ng-click="vm.saveCroppedSegmentForPdf(item)">
                                        <i class="material-icons" title="download that sentence">save</i>
                                    </button>
                                </li>
                            </ul>
                        </h3>
                    </div>

                    
                </div>    


                <!--For image--------------------------------------------------------------------------------------------->    
                <div ng-switch-when="image">
                
                    <div class="filter-field pos-field">
                        <!--equivalent from english alphabet-->
                        <label for="engAlpha">From-english-alphabet</label>
                        <select type="text" id="engAlpha" ng-model="vm.filters.engAlpha" class="selects-input">
                            <option value="">--select a letter--</option>
                            <option ng-repeat="letter in vm.alphaList" value="{{letter}}">{{letter}}</option>
                        </select>    
                    </div>

                    <div class="filter-field pos-field">
                        <!--meaning of symbol-->
                        <label for="moSymbol">Meaning-of-symbol</label>
                        <select type="text" id="moSymbol" ng-model="vm.filters.moSymbol" class="selects-input">
                            <option value="">--select--</option>
                            <option ng-repeat="s in vm.symbolOptions" value="{{s}}">{{s}}</option>
                        </select> 

                        <i class="material-icons" style="font-size: 25px; color: #2b92bb; cursor: pointer; " title="Only the saved 'meanings of symbols' will appear on the drop-down menu">
						    lightbulb_outline
						</i>
                    </div>

                    <div class="filter-field pos-field">
                        <!--meaning of phrase-->
                        <label for="moPhrase">Meaning-of-phrase</label>
                        <select type="text" id="moPhrase" ng-model="vm.filters.moPhrase" class="selects-input">
                            <option value="">--select--</option>
                            <option ng-repeat="p in vm.phraseOptions" value="{{p}}">{{p}}</option>
                        </select> 

                         <i class="material-icons" style="font-size: 25px; color: #2b92bb; cursor: pointer; " title="Only the saved 'meanings of phrases' will appear on the drop-down menu">
						    lightbulb_outline
						</i>
                    </div>


                    <div class="filter-field pos-field" >
                        <label for="comment">Comment</label>
                        <input type="text" id="comment" ng-model="vm.filters.comment" placeholder="comment you want to search" class="selects-input" ng-focus="vm.cursorInTextField()" ng-blur="vm.cursorOutOfTextField()" />        
                    </div>

                    <div class="filter-field search-row">
                        <button class="search-button" ng-click="vm.searchAnnotForImage()">Search in annotations<i class="material-icons">search</i></button>
                    
                        <!--The title of the returned file -->
                        <h3 class="results-list" ng-if="vm.resultsAnnotationsImg">
                            <ul>
                                <li ng-repeat="item in vm.resultsAnnotationsImg">
                                     {{ item.bundleName }} – “{{ item.word }}” on page {{ item.page }}
                                    <button ng-click="vm.saveCroppedSegmentForImage(item)">
                                        <i class="material-icons" title="download the cropped image">save</i>
                                    </button>
                                </li>
                            </ul>
                        </h3>
                    </div>


                </div>


        




        </div>
    </div>



  </div>

  <div class="emuwebapp-modal-footer">
    
  </div>
</div>
